In [1]:
## Here is an example that will collect data from Ballyhale
## http://metwdb-openaccess.ichec.ie/metno-wdb2ts/locationforecast?lat=52.4676782;long=-7.2007941

In [2]:
import pandas as pd
import requests
import json

In [1]:
from datetime import datetime,timedelta

In [2]:
# First we will need to get the API key for Openweather
f = open('openweather_api.txt', 'r')
api_key = f.read()

g = open('wwo_api.txt','r')
wwo_api = g.read()

In [3]:
us_location_df = pd.DataFrame([['NewYorkCity',40.730610,-73.935242],['Jacksonville',30.332184,-81.655647],['Nashville',36.174465,-86.767960],['Chicago',41.881832,-87.623177],
                                ['Houston', 29.749907,-95.358421],['OcklahomaCity',35.481918,-97.508469],['Philadelphia',39.952583,-75.165222],['SaltLakeCity',40.758701,-111.876183],
                                 ['LosAngeles',34.052235,-118.243683],['Seattle',47.608013,-122.335167]],columns=['location','latitude','longitude'])

NameError: name 'pd' is not defined

In [6]:
us_location_df

        location   latitude   longitude
0    NewYorkCity  40.730610  -73.935242
1   Jacksonville  30.332184  -81.655647
2      Nashville  36.174465  -86.767960
3        Chicago  41.881832  -87.623177
4        Houston  29.749907  -95.358421
5  OcklahomaCity  35.481918  -97.508469
6   Philadelphia  39.952583  -75.165222
7   SaltLakeCity  40.758701 -111.876183
8     LosAngeles  34.052235 -118.243683
9        Seattle  47.608013 -122.335167

In [7]:
# Write a function to return the grid location of these cities provided the co-ordinates are given:
def return_url(lat,long):
    URL = "https://api.weather.gov/points/" + lat + "," + long

   #print(URL)
    response = requests.get(URL)
    
    return response.json()['properties']['forecastGridData']

In [8]:
for i in range(0,len(us_location_df)):
    location = str(us_location_df['location'].iloc[i])
    latitude = str(us_location_df['latitude'].iloc[i])
    longitude = str(us_location_df['longitude'].iloc[i])
    
    # Get todays date and tomorrow's date 
    today = datetime.today().strftime('%Y-%m-%d')
    tomorrow = (datetime.today() + timedelta(days=1)).strftime('%Y-%m-%d')
    
    URL = return_url(str(us_location_df.iloc[i]['latitude']),str(us_location_df.iloc[i]['longitude']))
    #print(URL)
    name = "NOAA/" + location + "_" + dt_string + ".xml"
    
    URL0 = "https://api.openweathermap.org/data/2.5/onecall?lat=" + latitude+ "&lon="+ longitude +"&appid="+api_key
    name0 = "us_openweather/" + location + "_" + dt_string + ".json"
    #print(URL0)
    
    headers = {
        'User-Agent': 'Enda Kenneally',
        'From':'endakenneally2@gmail.com'
    }
    
    URL1 = "https://api.met.no/weatherapi/locationforecast/2.0/compact?lat="+ latitude + "&lon=" + longitude
    name1 = "us_yr/" + location + "_" + dt_string + ".json"
    #print(URL1)
    
    URL2 = "http://api.worldweatheronline.com/premium/v1/weather.ashx?query=" + latitude + "," + longitude + "&num_of_days=4&tp=1&format=json&key=" + wwo_api
    name2 = "us_wwo/" + location + "_" + dt_string + ".json"
    #print(URL2)
    
    # Get response from url
    response = requests.get(URL)
    response2 = requests.get(URL0)
    response3 = requests.get(URL1,headers=headers)
    response4 = requests.get(URL2)
    
    #print(response3)
   
    
    with open(name, 'wb') as file:
        file.write(response.content)
    
    with open(name0, 'wb') as file:
        file.write(response2.content)
        
    with open(name1, 'wb') as file:
        file.write(response3.content)
    
    with open(name2, 'wb') as file:
        file.write(response4.content)

https://api.weather.gov/gridpoints/OKX/35,35
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=40.73061&lon=-73.935242
<Response [200]>
https://api.weather.gov/gridpoints/JAX/65,64
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=30.332184&lon=-81.655647
<Response [200]>
https://api.weather.gov/gridpoints/OHX/50,56
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=36.174465&lon=-86.76796
<Response [200]>
https://api.weather.gov/gridpoints/LOT/75,72
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=41.881832&lon=-87.623177
<Response [200]>
https://api.weather.gov/gridpoints/HGX/64,95
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=29.749907&lon=-95.358421
<Response [200]>
https://api.weather.gov/gridpoints/OUN/97,93
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=35.481918&lon=-97.508469
<Response [200]>
https://api.weather.gov/gridpoints/PHI/49,75
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=39.952583&lon=-75.165222
<Response [200]>
https://api.weather.gov/gridpoints/SLC/100,174
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=40.758701&lon=-111.876183
<Response [200]>
https://api.weather.gov/gridpoints/LOX/154,44
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=34.052235&lon=-118.243683
<Response [200]>
https://api.weather.gov/gridpoints/SEW/124,67
https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=47.608013&lon=-122.335167
<Response [200]>